{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="container">
    <div class="layout__middle">
        <div class="form__bar">
            <a href="{{ path('fos_user_registration_register') }}" class="form__bar__status form__bar__status--active">
                s'enregistrer
            </a>
            <a href="" class="form__bar__status">
                connexion
            </a>
        </div>

        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class':
            'fos_user_registration_register form'}}) }}
        {{ form_start(form) }}

        <label for="fos_user_registration_form_firstname">{{ 'registration.firstname'|trans }}</label>
        {{ form_widget(form.firstname) }}

        <label for="fos_user_registration_form_lastname">{{ 'registration.lastname'|trans }}</label>
        {{ form_widget(form.lastname) }}

        <label for="fos_user_registration_form_username">{{ 'registration.username'|trans }}</label>
        {{ form_widget(form.username) }}

        <label for="fos_user_registration_form_email">{{ 'registration.emailregister'|trans }}</label>
        {{ form_widget(form.email) }}

        <label for="fos_user_registration_form_plainPassword_first">{{ 'registration.password'|trans }}</label>
        {{ form_widget(form.plainPassword.first) }}

        <label for="fos_user_registration_form_plainPassword_second">{{ 'registration.passwordrepeat'|trans }}</label>
        {{ form_widget(form.plainPassword.second) }}

        <input type="submit" value="{{ 'registration.submit'|trans }}" />
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

