{% extends "FrontBundle::layoutBase.html.twig" %}
{% block title %}{{ parent() }} Vos playlists{% endblock %}
{% block body %}

    <article class="playlist">
        <div class="container__fluid">
            <h1 class="title--playlist">
                <span>Mes playlists en ligne</span>
            </h1>
            <div>
                {% image '@FrontBundle/Resources/public/images/rap.jpg' %}
                    <div class="playlist__label" style="background:url({{ asset_url }}); background-size:cover">
                        <h3 class="playlist__genre">
                            Rap US
                        </h3>
                        <p class="playlist__describe">
                            <span>23 titres</span>
                            Disponible 5 jours
                        </p>
                    </div>
                {% endimage %}
            </div>
        </div>
    </article>

    <article class="playlist">
        <div class="container__fluid">
            <h1 class="title--playlist">
                <span>Mes playlists favorites</span>
            </h1>
            <div>
                {% image '@FrontBundle/Resources/public/images/rap.jpg' %}
                <div class="playlist__label" style="background:url({{ asset_url }}); background-size:cover">
                    <h3 class="playlist__genre">
                        Rap US
                    </h3>
                    <p class="playlist__describe">
                        <span>23 titres</span>
                        Disponible 5 jours
                    </p>
                </div>
                {% endimage %}
            </div>
        </div>
    </article>

    <article class="playlist">
        <div class="container__fluid">
            <h1 class="title--playlist">
                <span>Mes brouillons</span>
            </h1>
            <div>
                {% image '@FrontBundle/Resources/public/images/rap.jpg' %}
                <div class="playlist__label" style="background:url({{ asset_url }}); background-size:cover">
                    <h3 class="playlist__genre">
                        Rap US
                    </h3>
                    <p class="playlist__describe">
                        <span>23 titres</span>
                        Disponible 5 jours
                    </p>
                </div>
                {% endimage %}
            </div>
        </div>
    </article>

    <section>
        <ul class="listPlaylist">
            <li>premiere</li>
            <li>deuxieme</li>
            <li>troisième</li>
            <li>quatrieme</li>
        </ul>
    </section>

    <script src="http://connect.soundcloud.com/sdk.js"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@FrontBundle/Resources/public/js/*.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}