{% extends "FrontBundle::PlaylistBase.html.twig" %}
{% block title %}{{ parent() }} {{ describe[0].title }}{% endblock %}
{% block body %}

    <div class="listPlaylist">
        <div class="container__fluid">

            <h1 class="breadcrumbs">
                <div class="breadcrumbs__title">
                    Playlist <i class="icon-arrow_right"></i> {{ describe[0].title }}
                </div>
                <div class="breadcrumbs__filet"></div>
            </h1>
            <div class="listPlaylist__container">
                <div class="listPlaylist__container__left">
                    <a href="{{ path('playlist_home') }}" class="button__return"><i class="icon-icon_back"></i> retour</a>

                    <div class="listPlaylist__swag">
                        <h3 class="listPlaylist__swag__title">
                            {{ describe[0].title }}
                        </h3>
                        <h4 class="listPlaylist__swag__author">
                            Par {{ describe[0].author.firstname }} {{ describe[0].author.lastname }}
                        </h4>
                        <ul class="listPlaylist__swag__check">
                            <li><strong>{{ lists|length }}</strong> titres</li>
                            <li>Disponible <strong>5 jours</strong></li>
                        </ul>

                        <div class="listPlaylist__swag__like">
                            <i class="icon-heart"></i> 79
                            <p>Ajoutée à vos favoris !</p>
                        </div>

                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}" class="button__share">PARTAGEZ</a>
                    </div>
                </div>

                <div class="listPlaylist__container__right">
                    <table class="listPlaylist__listing">
                        {% for list in lists %}
                            <tr data-label = "{{ list.link }}" data-play="true" data-time="3">
                                <td>
                                    <i class="icon-arrow"></i>
                                </td>
                                <td>
                                    {{ loop.index }}
                                </td>
                                <td>
                                    {{ list.title }}
                                </td>
                                <td>
                                    <i class="icon-edit"></i>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@FrontBundle/Resources/public/js/*.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}