{% extends "FrontBundle::PlaylistBase.html.twig" %}
{% block title %}{{ parent() }} Vos playlists{% endblock %}
{% block body %}
    <article class="playlist">
        <div class="container__fluid">
            <h1 class="breadcrumbs">
                <div class="breadcrumbs__title">
                    Mes playlists publiées
                </div>
                <div class="breadcrumbs__filet"></div>
            </h1>
            <div class="row__flex">
                {% for publish in publishs %}
                    {% image '@FrontBundle/Resources/public/images/rap.jpg' %}
                    <a href="http://localhost/web/app_dev.php/playlist/{{ publish.id }}" class="playlist__label" style="background:url({{
                    asset_url }}); background-size:cover">
                        <h3 class="playlist__genre">
                            {{ publish.title }}
                        </h3>
                        <p class="playlist__describe">
                            <span>{{ publish.nb }} titres</span>
                            Disponible 5 jours
                        </p>
                    </a>
                    {% endimage %}
                {% endfor %}
            </div>
        </div>
    </article>
    <article class="playlist">
        <div class="container__fluid">
            <h1 class="breadcrumbs">
                <div class="breadcrumbs__title">
                    Mes playlists en Brouillon
                </div>
                <div class="breadcrumbs__filet"></div>
            </h1>
            <div class="row__flex">
                {% for copy in copys %}
                    {% image '@FrontBundle/Resources/public/images/rap.jpg' %}
                    <a href="http://localhost/web/app_dev.php/playlist/{{ copy.id }}" class="playlist__label"
                       style="background:url({{ asset_url }}); background-size:cover">
                        <h3 class="playlist__genre">
                            {{ copy.title }}
                        </h3>
                        <p class="playlist__describe">
                            <span>{{ copy.nb }} titres</span>
                            Disponible 5 jours
                        </p>
                    </a>
                    {% endimage %}
                {% endfor %}
            </div>
        </div>
    </article>

    <article class="playlist">
        <div class="container__fluid">
            <h1 class="breadcrumbs">
                <div class="breadcrumbs__title">
                    Mes playlists Favorites
                </div>
                <div class="breadcrumbs__filet"></div>
            </h1>
        </div>
    </article>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@FrontBundle/Resources/public/js/*.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}